The main idea of this assignment is explore 
1.   Basic Operation 
           - print statement 
           - how to get help 
           - declare variables 
           - assign values
2. Working with Integers 
           - operators 
           - functions 
3. Working with Strings 
           - operators 
           - functions 
4. Handling Errors 
           - Syntax 
           - Run Time 
           - Logical

In [ ]:
# print your name 
print ("Charan S")
# print your hobbies 
print ("Reading Books , Playing Badminton")

# print your registration number
print("211047011")

Charan S
Reading Books , Playing Badminton
211047011

In [ ]:
# how to get more information about print functions 
help(print)
# how to get more infromation about math module 
import math
help(math)
# how to get more information about symbols 
help('symbols')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)



Here is a list of the punctuation symbols which Python assigns special meaning
to. Enter any symbol to get more help.

!=                  +                   <=                  __
"                   +=                  <>                  `
"""                 ,                   ==                  b"
%                   -                   >                   b'
%=                  -=                  >=                  f"
&                   .                   >>                  f'
&=                  ...                 >>=                 j
'                   /                   @                   r"
'''                 //                  J                   r'
(                   //=                 [                   u"
)                   /=                  \                   u'
*                   :                   ]                   |
**                  <                   ^                   |=
**=                 <<                  ^=                  ~
*=                  <<=                 _

In [ ]:
# store your role model name in the variable "role"
role = "Kevin Mitnick"
print (role)
# describe your role model in the variable "role_desc"
role_desc = "Kevin David Mitnick is an American computer security consultant, author,& convicted hacker"
print (role_desc)
# store the numeric value in the variable "my_values"
my_values = 21
print(my_values)

Kevin Mitnick
Kevin David Mitnick is an American computer security consultant, author,& convicted hacker
21

In [ ]:
# you can perform arithemetic opeartions using python arithmetic opeartors 
# To perform arithmetic opeations 
# If your run a 1000 Kilo Meter race in 143 minutes 30 seconds, what is your average time per mile? What is your average speed in miles per hour? 
# Hint : 1.61 kilometers in a mile

In [ ]:
# Suppose the cover price of a python book  is  577.95, but bookstores get a 40% discount.
# Shipping costs  150 for the first copy and 50 Rupees for each additional copy. What is the total wholesale cost for 60 copies?
bookPrice = 577.95
discount = (40/100)
shippingPriceRest = 50
shippingPriceFirst = 150
totalUnits = 60

bookDiscountAmount = bookPrice * discount * totalUnits
shipping = shippingPriceRest * 59 + shippingPriceFirst
result = (bookPrice * 60) - bookDiscountAmount + shipping
print ('The total price for 60 books including shipping and discount is: '+ str(result))

The total price for 60 books including shipping and discount is: 23906.199999999997

In [ ]:
# write a python code to convert Centrigrade to Fahrenheit , get the value Centrigrade from the user. 
# Sample Input:
# Enter Centrigrade:  23.5 
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%0.2f Fahrenheit' %(fahrenheit))

Enter temperature in celsius: 23.5
74.30 Fahrenheit

In [ ]:
# write a python code to convert Fahrenheit to Centrigrade, get the value Fahreheit from the user. 
# Sample Input:
# Enter Fahreheit:  23.5 
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print(' %0.2f Celsius' %( celsius) + "degree Centrigrade")

Enter temperature in fahrenheit: 23.5
 -4.72 Celsiusdegree Centrigrade

In [ ]:
# Write a python program of your choice which uses arithmetic operations (use both operators and functions ) with meaningful application 
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        if choice == '1':
            print("sum=", add(num1, num2))
        elif choice == '2':
            print("sub=", subtract(num1, num2))
        elif choice == '3':
            print("Mul=", multiply(num1, num2))
        elif choice == '4':
            print("div=", divide(num1, num2))
        
        next_calculation = input("Continue (y/n): ")
        if next_calculation == "n":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 2
Enter second number: 3
sum= 5.0
Continue (y/n): y
Enter choice(1/2/3/4): 3
Enter first number: 2
Enter second number: 3
Mul= 6.0
Continue (y/n): n

In [ ]:
# create a variable called my_neg to store  negative value 


# create a variable called my_float to store float value 
flo = float(input("enter the number"))
print(flo)
# create a variable called my_complex to store complex value 

my_complex= complex(2,4)
print(my_complex)
# Note: there a various method to create complex numbers 

# perform mathematical operations on complex numbers 
def add( z1, z2):
    return z1 + z2
z1 = complex(2, 3)
z2 = complex(1, 2)
print( "ADD is : ", add(z1, z2))
def sub( z1, z2):
    return z1 - z2
z1 = complex(2, 3)
z2 = complex(1, 2)
print( "SUB is : ", sub(z1, z2))

enter the number20.0000
20.0
(2+4j)
ADD is :  (3+5j)
SUB is :  (1+1j)

In [ ]:
# create a variable called break and assign it a value of 15. what is the response and find the reason behind the behaviour. 
break = 15
print (break) 

#answer - built in functions cannot be used as variable

SyntaxError: ignored

In [ ]:
result ="hello world"
print (result[0])

h

In [ ]:
# String operations 
#Write a program to get the name of the guest , then greet the user using their name as part of greeting 
# Sample Input 
# Enter the Guest Name: Writer Sudha Murthy 
# Sample Output 
# I am extremly hounor to welcome Sudha Murthy to ....... 

name = input("Enter The Guest Name:")
print("I am extremly hounor to welcome "+ name+ " to .......")

Enter The Guest Name:charan s
I am extremly hounor to welcome charan s to .......

In [ ]:
quotes  = "Don't judge each day by the harvest you reap but by the seeds that you plant."

# count the total number of characters in the variable quotes 
print(len(quotes))
# convert the smaller case to upper case, upper case to smaller case 
print(quotes.swapcase())

# check whether the numeric value is present or not 
print(quotes.isnumeric())
# Check whether the word "harvest" present in the string or not 
"harvest" in quotes
# replace the (.) with (!) 
rep= quotes.replace('.','!')
print(rep)

77
dON'T JUDGE EACH DAY BY THE HARVEST YOU REAP BUT BY THE SEEDS THAT YOU PLANT.
False
Don't judge each day by the harvest you reap but by the seeds that you plant!

In [ ]:
# Explore any 5 string build-in functions which is not discussed in the class
# provide with suitable examples 
#1. isspace()-Returns True if all characters in the string are whitespaces
string = "      "
x = string.isspace()
print(x)
#2. isascii()-Returns True if all characters in the string are ascii characters
string = "MSIS"
x = string.isascii()
print(x)
#3. splitlines()	Splits the string at line breaks and returns a list
txt = "Hello Good Morning\n Welcome To MSIS"
x = txt.splitlines()
print(x)
#4. encode()	Returns an encoded version of the string
string = "Welocme to MSIS"
x = string.encode()
print(x)
#5. isalnum()	Returns True if all characters in the string are alphanumeric
string = "MSIS1"
x = string.isalnum()
print(x)

True
True
['Hello Good Morning', ' Welcome To MSIS']
b'Welocme to MSIS'
True

In [ ]:
num_int =55
num_str ="34"
int(num_str)
total = num_int + int(num_str)
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'str'>

In [ ]:
# print the quotes : Don't judge each day by the harvest you reap but by the seeds that you plant.
# Example for syntax Error 

print ("Don't judge each day by the harvest you reap but by the seeds that you plant")

Don't judge each day by the harvest you reap but by the seeds that you plant

In [ ]:
#Find potential sources of runtime errors in this code snippet:
#import math
dividend = float(input("Please enter the dividend: "))
divisor = float(input("Please enter the divisor: "))
quotient = dividend / divisor
quotient_rounded = round(quotient)
print (quotient_rounded)

Please enter the dividend: 2
Please enter the divisor: 3
1

In [ ]:
# print the Quotes :Don't judge each day by the harvest you reap but by the seeds that you plant.
print ("Don't judge each day by the harvest you reap but by the seeds that you plant")

Don't judge each day by the harvest you reap but by the seeds that you plant

In [ ]:
# identify the error, label the type of error and correct the error 
classs ="plant"
crop_name ="Brinjal"
yeid = 20 
# print name of the class, crop name and yeid 
print(classs)
print(crop_name)
print(yeid)
x=10
print (x)
# print the value of x

plant
Brinjal
20
10

In [ ]:
# Find the errors in the coding and correct 
# formula to convert centrigrade to fahr


C = 21; F = ( (9/5) * C )+ 32
print(F)
C = 21.0; F = ( (9/5)*C ) + 32
print(F)

69.80000000000001
69.80000000000001

In [ ]:
#Explain why the code is not working 
c= a + b 
a =10 
b = 5 
print(c)

#variable 'a' and 'b' is not assigned any value it should be assigned before the operation

NameError: ignored

In [ ]:
# Find the bugs in the below code, correct the mistakes and comment suggestions 
from math import pi
h = 5.0 # height
b = 2.0 # base
r = 1.5 #radius
area_parallelogram = h*b
print ('The area of the parallelogram is %.3f' % area_parallelogram)
area_square = b**2
print ('The area of the square is %g' % area_square)
area_circle = pi*r**2
print ('The area of the circle is %.3f' % area_circle)
volume_cone = 1.0/3*pi*r**2*h
print ('The volume of the cone is %.3f' % volume_cone)

The area of the parallelogram is 10.000
The area of the square is 4
The area of the circle is 7.069
The volume of the cone is 11.781

In [ ]:
# This code shows the use math module 
# Run time error and Logical Error 

from math import sin
#r= sin(c)

x=2.4
y = 2.5 + 3j
y_new = abs(y)
print(y_new)

print (sin(x))
print (sin(y_new))

3.905124837953327
0.675463180551151
-0.6914773966101274

In [ ]:
print("Hello, World!")
print(5)
print("All finished!")

Hello, World!
5
All finished!

In [ ]:
# Print the statement, Kindly help me!
print ("Kindly help me!")

Kindly help me!

In [ ]:
# print the value of the course 
course = "Programming with Python"
print (course)

Programming with Python

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#print the value of  both size and income 
in= 9000

print("size=", size  ,"income=", in )

cropName="Drumstick"
year_2021 = 'Drumstick'

SyntaxError: ignored

In [ ]:
print ("Don't eat those cookies before dinner.")

Don't eat those cookies before dinner.

In [ ]:
print ('Hello \t \t \t world' )

Hello 	 	 	 world

In [ ]:
print ("I like Python Programming!")

I like Python Programming!

In [ ]:
print ("The first program in any programming language is"+ " Hello World"+".")

The first program in any programming language is Hello World.

In [ ]:
print ("cropname")
#or
cropname="msis"
print(cropname)

cropname
msis

In [ ]:
# find the bug
1/2

0.5

In [ ]:
profit = 1000
#increment profit by 1
profit+1

1001

In [ ]:
from math import log
print (log(10))

2.302585092994046

In [ ]:
import math
print (math.sin(2))

0.9092974268256817

In [ ]:
num_int =55
num_str ="34"
total = num_int +int(num_str)
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'str'>

In [ ]:
# Trying to print the multiplication entry, but it throws error 
5*6

30

In [ ]:
# Trying to find the round of 10.2 
round (10.2)

10

In [ ]:
round(10.2)

10

In [ ]:
# Trying to calculate 2 to the power of 5 

pow(2,5)

32

In [ ]:
#Trying to multiply 5 
a=5 * 5 
print(a)

25

In [ ]:
# Trying to print the text message Hello 

print("Hello")

Hello

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#print the value of  both size and income 
inn = 9000
print("size=", size  ,"income=", inn )

cropName="Drumstick"
year_2021 = 'Drumstick'

size= 200 income= 9000